<% content_for :title, 'Projects' %>
<ul>
  <% @projects.each do |project| %>
    <li>
      <a href="<%= project_path(project) %>">
        <figure>
          <div class="picture">
            <%= image_tag '', 'data-src': project.img_url(300, 300), alt: project.title, width: 300, height: 300 %>
            <noscript>
              <%= image_tag project.img_url(300, 300), alt: project.title, width: 300, height: 300 %>
            </noscript>
          </div>
          <figcaption><%= project.title %></figcaption>
        </figure>
        <%= project.title %></a>
    </li>
  <% end %>
</ul>
