<!DOCTYPE html>
<html lang="en" class="page loading no-js" data-controller="<%= params[:controller] %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= "#{yield(:title)} - " if content_for?(:title) %>OECO Architectes</title>

    <%= stylesheet_link_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"/>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <script data-turbolinks-eval="false">
      var l = document.documentElement.classList;
      l.remove('no-js');
      l.add('js')
    </script>

    <%= render partial: 'shared/header', locals: { classes: 'page__section page__section--header' } %>

    <div class="page__section page__section--body">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application',
      defer: !!Rails.application.config.assets.debug,
      async: !Rails.application.config.assets.debug,
      'data-turbolinks-eval': 'false'
    %>
  </body>
</html>
